// Application general styles / fixes

// Overwrite manage styles default button margin
.alert .btn
  padding-top 5px
  padding-bottom 5px

// Overwrite overflow hidden styles for modal
.modal-overflow-visible
  .modal-dialog,
  .modal-dialog .modal-content,
  .modal-dialog .modal-body
    overflow visible
