.users-section

  .nav.nav-tabs li
    cursor pointer
    outline none

  .user-section-description
    margin-bottom 36px

  .federated-users-section
    .user-section-description
      float left
      width calc(100% - 200px)
