version: 2.1
orbs:
  node: circleci/node@3.0.1
jobs:
  build-lint-test:
    parameters:
      version:
        type: string
    docker:
      - image: circleci/node:<< parameters.version >>
    steps:
      - checkout
      - run: npm ci
      - run: npm run lint:js
      - run: npm test
      - run: npm run build
      - run:
          name: Start server
          command: npm run serve:dev
          background: true
      - run: sleep 10
      - run: npm run test:integration
workflows:
  build_and_test:
    jobs:
    - build-lint-test:
        name: "build_lint_test_12"
        version: "12"
        requires:
          - build_lint_test_10
