@import "../../../node_modules/auth0-styleguide/lib/vars";

// User header component

.user-header
  position relative
  height 130px
  background-color rgba(black, 0.03)

  .user-header-content
    position absolute
    left 124px
    top 50%
    transform translateY(-50%)

  .user-header-avatar
    background-color green
    width 69px
    height 69px
    border-radius 50%
    position absolute
    top 30px
    left 30px

  .user-header-primary
    margin 0
    margin-bottom 8px

  .user-header-secondary
    margin 0
    font-size 16px
    color $color-text-light
