.no-content-section
  text-align center

  .title
    font-weight 500
    margin-bottom 40px

  .section-icon
    font-size 84px
    color #0a86b1
    opacity 0.2

  .description
    display block
    max-width 440px
    margin 0 auto
    margin-bottom 60px

  .button-container .btn + .btn
    margin-left 20px
