@import "../../../node_modules/auth0-styleguide/lib/vars";

// Entity header component

.entity-header
  position relative
  height 130px
  background-color rgba(black, 0.03)

  .entity-header-content
    position absolute
    left 124px
    top 50%
    transform translateY(-50%)

  .entity-header-avatar
    width 69px
    height 69px
    border-radius 50%
    position absolute
    top 30px
    left 30px
    background-color rgba(black, 0.5)

  .entity-header-primary
    margin 0
    margin-bottom 8px

  .entity-header-secondary
    margin 0
    font-size 16px
    color $color-text-light

  .entity-header-actions
    position absolute
    top 20px
    right 20px
