@import "../../../node_modules/auth0-styleguide/lib/vars";

.extension-section-header
  margin-bottom 28px

  &.is-subsection
    margin-top 40px

    .title
      font-size 24px

  .title-container
    position relative

  .buttons-container
    position absolute
    top 50%
    right 0
    transform translateY(-50%)

    .btn + .btn
      margin-left 14px

  .title
    margin 0
    margin-bottom 30px

  .description
    margin 0
    color $color-text-light
    font-size 16px
