@import "../../../node_modules/auth0-styleguide/lib/vars";

.table-action
  padding 10px 10px
  color $link-color
  margin-left 8px

  &:first-child
    margin-left 0

  &:hover
    color $link-hover-color

  i.icon
    font-size 14px
