@import "../../../node_modules/auth0-styleguide/lib/vars";

.tokenizer-container
  min-height 69px
  height auto
  cursor text
  padding 10px
  line-height 1.5

.typeahead-tokenizer

  .typeahead-token
    display inline-block
    background-color rgba(black, 0.05)
    border-radius $border-radius-base
    padding 8px 12px
    padding-right 0
    margin-right 10px

    .typeahead-token-close
      padding 8px 14px
      border-left 1px solid rgba(white, 0.5)
      margin-left 12px
      color $gray-dark
      font-size 20px

  .typeahead
    position relative
    display inline-block
    z-index 1

    input
      height 45px
      border none
      outline none

    .typeahead-selector
      position absolute
      top 100%
      width 240px
      list-style-type none
      background-color white
      border 1px solid $gray-lighter
      padding 0
      margin 0
      border-radius $border-radius-base

      li
        padding 15px
        border-bottom 1px solid $gray-lighter
        background-color white

        a
          color black

        &.hover
          background-color rgba(black, 0.02)

          a
            color $brand-success

        &:last-child
          border-bottom none
