header.dashboard-header nav .navbar-brand {
  font-weight: normal;
  padding: 15px 15px;
  width: 100%;
  min-width: 400px;
}

header.dashboard-header ul.dropdown-menu {
  padding: 0px;
}

header.dashboard-header ul.dropdown-menu li {
  margin: 0px;
}


.btn-nav span {
  font-size: 16px;
  top: 2px;
  position: relative;
}
