.group-header
  position relative
  display block
  box-sizing border-box
  margin-top 20px
  margin-bottom 20px

  .img-polaroid
    position absolute
    bottom 20px
    left 20px
    border-radius 100%
    width 80px
    height 80px
    z-index 900
    max-width 100%
    vertical-align middle
    border 0

  .group-bg-box
    position relative
    height 120px
    overflow hidden

    .group-bg
      overflow hidden
      position absolute
      top -300%
      left 0
      width 100%
      -webkit-filter blur(50px)
      opacity .5

    .box-content
      position absolute
      background rgba(255,255,255,0.3)
      height 100%
      width 100%
      z-index 100%
      overflow hidden

      .back-button
        position absolute
        top 10px
        left 10px

      .login-count
        position absolute
        top 20px
        right 20px
        font-size 11px

      .lined-text
        font-size 11px
        text-transform uppercase
        border-bottom 1px solid rgba(0,0,0,0.1)
        padding-bottom 2px

      .name-area
        position absolute
        left 120px
        top 20px

        h4
          font-weight 200
          font-size 34px
          margin 0

        .name
          margin-right 10px

        .group-label
          color #000
          font-size 10px
          font-weight normal
          margin-top 5px
          display block
          padding 5px 10px
          background rgba(255,255,255,0.5)
          border-radius 3px
          position relative
          bottom 5px
